.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 4%; 
    margin: auto;
}

.option-text {
    margin-top: 6%;
    overflow: hidden;
    width: 85%
}