.card {

    height:43vh;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header-text {
    margin-top: 2%;
}

.flexed {
    display: flex;
    justify-content: space-between;
}

.options-alert {
    margin-top: 15%;
}
